include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include bid_management *.css
recursive-include bid_management *.csv
recursive-include bid_management *.html
recursive-include bid_management *.ico
recursive-include bid_management *.js
recursive-include bid_management *.json
recursive-include bid_management *.md
recursive-include bid_management *.png
recursive-include bid_management *.py
recursive-include bid_management *.svg
recursive-include bid_management *.txt
recursive-exclude bid_management *.pyc